<section class="absolute top-0 left-0 w-[100vw] h-[100vh] z-10 flex items-center justify-center">
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
  <form class="opacity-100 bg-white z-20 p-5 rounded-md" method="post" [formGroup]="patientForm" (submit)="onSubmit()">

    <h1 class="font-bold text-3xl">Update Patient</h1>

    <div class="flex flex-row gap-x-5">
      <div class="flex flex-col mt-5">
        <label for="firstName">First Name</label>
        <input class="border rounded-md p-2.5" type="text" id="firstName" name="firstName" formControlName="firstName" required>
        <span *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched" class="text-red-500">{{ patientForm.get('firstName')?.errors | json }}</span>
      </div>

      <div class="flex flex-col mt-5">
        <label for="lastName">Last Name</label>
        <input class="border rounded-md p-2.5" type="text" id="lastName" name="lastName" formControlName="lastName" required>
        <span *ngIf="patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched" class="text-red-500">{{ patientForm.get('lastName')?.errors | json }}</span>
      </div>
    </div>

    <div class="flex flex-col mt-5">
      <label for="address">Address</label>
      <input class="border rounded-md p-2.5" type="text" id="address" name="address" formControlName="address">
      <span *ngIf="patientForm.get('address')?.invalid && patientForm.get('address')?.touched" class="text-red-500">{{ patientForm.get('address')?.errors | json }}</span>
    </div>

    <div class="flex flex-row gap-x-5">
      <div class="flex flex-col mt-5">
        <label for="phoneNumber">Phone Number</label>
        <input class="border rounded-md p-2.5" type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">
        <span *ngIf="patientForm.get('phoneNumber')?.invalid && patientForm.get('phoneNumber')?.touched" class="text-red-500">{{ patientForm.get('phoneNumber')?.errors | json }}</span>
      </div>

      <div class="flex flex-col mt-5">
        <label for="birthDate">Date of Birth</label>
        <input class="border rounded-md p-2.5" type="date" id="birthDate" name="birthDate" formControlName="birthDate" required>
        <span *ngIf="patientForm.get('birthDate')?.invalid && patientForm.get('birthDate')?.touched" class="text-red-500">{{ patientForm.get('birthDate')?.errors | json }}</span>
      </div>
    </div>

    <div class="flex flex-row gap-x-5">
      <button class="{{ patientForm.valid ? 'bg-blue-500' : 'bg-gray-400' }} w-full text-white rounded-md p-2.5 mt-5" type="submit" [disabled]="!(patientForm.valid)">Update</button>
    </div>
  </form>
</section>
